################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SchoolJournal/.vs
/.vs
/SchoolJournal/CustomLog/obj
/SchoolJournal/CustomLog/bin/Debug/net6.0
/SchoolJournal/SchoolJournal/obj
/SchoolJournal/SchoolJournal/bin/Debug/net6.0
/SchoolJournal/SchoolJournal.Data/obj
/SchoolJournal/SchoolJournal.Data/bin/Debug/net6.0
/SchoolJournal/SchoolJournal.Tests/bin/Debug/net6.0
/SchoolJournal/SchoolJournal.Tests/obj
/Pattern/.vs
/Pattern/bin/Debug/net6.0
/Pattern/obj
/Pattern
